@tailwind base;
@tailwind components;
@tailwind utilities;

/* Quita spin-buttons en inputs number */
input[type='number'] { -moz-appearance: textfield; appearance: textfield; }
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }

/* (opcional) rejilla tenue de fondo */
.grid-bg {
  background-image:
    linear-gradient(rgba(255,255,255,) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.02) 1px, transparent 1px);
  background-size: 50px 50px;
}
